" ビープ音を消す
set vb t_vb=

set ignorecase
set hlsearch

nn <C-J> :
nn <C-K> *
nn <C-H> ^
nn <C-L> $
nn <S-Y> y$
nn <C-I><C-I> p
nn <C-S-I><C-S-I> P

" IdeaVim-EasyMotion
let mapleader="\<Space>"
set easymotion

nm <leader>f <Plug>(easymotion-f)
nm <leader>F <Plug>(easymotion-F)
nm <leader>t <Plug>(easymotion-t)
nm <leader>T <Plug>(easymotion-T)
nm <leader>w <Plug>(easymotion-w)
nm <leader>W <Plug>(easymotion-W)
nm <leader>b <Plug>(easymotion-b)
nm <leader>B <Plug>(easymotion-B)
nm <leader>e <Plug>(easymotion-e)
nm <leader>E <Plug>(easymotion-E)
nm <leader>j <Plug>(easymotion-j)
nm <leader>k <Plug>(easymotion-k)
nm <leader>n <Plug>(easymotion-n)
nm <leader>N <Plug>(easymotion-N)
nm <leader>s <Plug>(easymotion-f2)
nm gf <Action>(GotoFile)
nm gb <Action>(Switcher)
nm ma <Action>(ToggleBookmarkA)
nm mb <Action>(ToggleBookmarkB)
nm mc <Action>(ToggleBookmarkC)
nm md <Action>(ToggleBookmarkD)
nm me <Action>(ToggleBookmarkE)
nm mf <Action>(ToggleBookmarkF)
nm mg <Action>(ToggleBookmarkG)
nm mh <Action>(ToggleBookmarkH)
nm mi <Action>(ToggleBookmarkI)
nm mj <Action>(ToggleBookmarkJ)
nm mk <Action>(ToggleBookmarkK)
nm ml <Action>(ToggleBookmarkL)
nm mm <Action>(ToggleBookmarkM)
nm mn <Action>(ToggleBookmarkN)
nm mo <Action>(ToggleBookmarkO)
nm mp <Action>(ToggleBookmarkP)
nm mq <Action>(ToggleBookmarkQ)
nm mr <Action>(ToggleBookmarkR)
nm ms <Action>(ToggleBookmarkS)
nm mt <Action>(ToggleBookmarkT)
nm mu <Action>(ToggleBookmarkU)
nm mv <Action>(ToggleBookmarkV)
nm mw <Action>(ToggleBookmarkW)
nm mx <Action>(ToggleBookmarkX)
nm my <Action>(ToggleBookmarkY)
nm mz <Action>(ToggleBookmarkZ)
nm 'a <Action>(GotoBookmarkA)
nm 'b <Action>(GotoBookmarkB)
nm 'c <Action>(GotoBookmarkC)
nm 'd <Action>(GotoBookmarkD)
nm 'e <Action>(GotoBookmarkE)
nm 'f <Action>(GotoBookmarkF)
nm 'g <Action>(GotoBookmarkG)
nm 'h <Action>(GotoBookmarkH)
nm 'i <Action>(GotoBookmarkI)
nm 'j <Action>(GotoBookmarkJ)
nm 'k <Action>(GotoBookmarkK)
nm 'l <Action>(GotoBookmarkL)
nm 'm <Action>(GotoBookmarkM)
nm 'n <Action>(GotoBookmarkN)
nm 'o <Action>(GotoBookmarkO)
nm 'p <Action>(GotoBookmarkP)
nm 'q <Action>(GotoBookmarkQ)
nm 'r <Action>(GotoBookmarkR)
nm 's <Action>(GotoBookmarkS)
nm 't <Action>(GotoBookmarkT)
nm 'u <Action>(GotoBookmarkU)
nm 'v <Action>(GotoBookmarkV)
nm 'w <Action>(GotoBookmarkW)
nm 'x <Action>(GotoBookmarkX)
nm 'y <Action>(GotoBookmarkY)
nm 'z <Action>(GotoBookmarkZ)
